/* Styles related to the WP admin bar */
#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon {
	height: 16px;
	width: 16px;
	margin-right: 5px;
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/icon_status_red.png");
	display: inline-block;
	vertical-align: middle;
    margin-top: 6px;
}

#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon-available {
	background-image: url("../images/icon_status_green.png");
}

#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon-unavailable {
	background-image: none;
	background-color: #f59e0b;
	border-radius: 50%;
}

#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon-away {
	background-image: url("../images/icon_status_red.png");
}

#wpadminbar li#wp-admin-bar-psource-chat-container div.ab-sub-wrapper span.psource-chat-ab-label {
	text-shadow: none !important;
	color: #21759B;
}

#wpadminbar li#wp-admin-bar-psource-chat-container:hover span.psource-chat-user-status-current span.psource-chat-ab-label {
	color: #21759B;
}

#wpadminbar li#wp-admin-bar-psource-chat-container div.ab-sub-wrapper ul.ab-submenu li.hover:hover div.ab-item,
#wpadminbar li#wp-admin-bar-psource-chat-container div.ab-sub-wrapper ul.ab-submenu li.hover:hover div.ab-item span.psource-chat-ab-label {
	color: #21759B;
}

#wpadminbar li#wp-admin-bar-psource-chat-container div.ab-sub-wrapper ul.ab-submenu li.hover:hover div.ab-sub-wrapper div.ab-item span.psource-chat-ab-label {
	color: #21759B;
}

#wpadminbar li#wp-admin-bar-psource-chat-container div.ab-sub-wrapper ul.ab-submenu li.hover:hover div.ab-sub-wrapper div.ab-item span.psource-chat-ab-label {
	color: #21759B;
}

#wpadminbar li#wp-admin-bar-psource-chat-container div.ab-sub-wrapper ul.ab-submenu li.hover div.ab-sub-wrapper ul.ab-submenu li:hover div.ab-item span.psource-chat-ab-label {
	color: #21759B;
}

#wpadminbar li#wp-admin-bar-psource-chat-container:hover span.psource-chat-ab-label {
	color: #21759B;
	text-shadow: none;
}


/*  */