/* Styles related to the WP admin bar */
#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon {
	height: 16px;
	width: 16px;
	margin-right: 5px;
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../images/icon_status_red.png");
	display: inline-block;
	vertical-align: middle;
}

#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon-available {
	background-image: url("../images/icon_status_green.png");
}

#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon-unavailable {
	background-image: none;
	background-color: #f59e0b;
	border-radius: 50%;
}

#wpadminbar li#wp-admin-bar-psource-chat-container .psource-chat-ab-icon-away {
	background-image: url("../images/icon_status_red.png");
}

#wpadminbar #wp-admin-bar-psource-chat-user-friends span.psource-chat-friend-avatar img {
	height: 20px;
	width: 20px;
}
#wpadminbar #wp-admin-bar-psource-chat-container div.ab-sub-wrapper li#wp-admin-bar-psource-chat-user-statuses div.ab-item span.psource-chat-user-status-label {
	color: inherit;
	text-shadow: none;
	cursor: pointer;
}

body.mp6 #wpadminbar li#wp-admin-bar-psource-chat-container:hover span.psource-chat-ab-label,
body.mp6 #wpadminbar #wp-admin-bar-psource-chat-container div.ab-sub-wrapper li#wp-admin-bar-psource-chat-user-statuses div.ab-item span.psource-chat-user-status-label {	 	 		 	  			   			
	color: inherit;
}

#wpadminbar li#wp-admin-bar-psource-chat-container li.psource-chat-user-status-current {
	display: none;
}

body.buddypress ul#members-list div.action div.psource-chat-now-button {
	margin-bottom: 5px;
}

body.buddypress ul#member-list div.action div.psource-chat-now-button {
	margin-top: 5px;
}

body.buddypress ul#members-list div.action div.psource-chat-now-button a.psource-chat-button,
body.buddypress ul#member-list div.action div.psource-chat-now-button a.psource-chat-button {
	display: block;
}


/*  */